body {
	background-color: red;
	background: radial-gradient(circle, #357A0D, #4FB510);
}
div {
	width: 90%;
	height: 500px;
	border: 2px solid black;
	background-color: green;
}
input {
	text-align: center;
	background-color: green;
	display: block;
	width: 100%;
	height: 20%;
	font-size: 100px;
	font-size: 5vw;
	}
* {
	margin: auto;
}